@media screen and (min-width:300px){
    .time{
        margin: 0%;
        color:white;
        font-size: 20px;
    }
    .container-time{    
        text-align: center;
        margin-left: auto;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
@media screen and (min-width:1000px){
    .time{
        font-size: 30px;
    }
    .container-body-center{
        display: flex;
        justify-content: space-around;
    }
}