@media screen and (min-width:300px){
    .container-form{margin-left: 69px;}
   #form{display: inline-grid;}
}
@media screen and (min-width:350px){.container-form{margin-left: 82px;}}
@media screen and (min-width:400px){.container-form{margin-left: 108px;}}
@media screen and (min-width:450px){.container-form{margin-left: 125px;}}
@media screen and (min-width:500px){.container-form{margin-left: 155px;}}
@media screen and (min-width:600px){.container-form{margin-left: 205px;}}
@media screen and (min-width:700px){.container-form{margin-left: 255px;}}
@media screen and (min-width:800px){.container-form{margin-left: 300px;}}
@media screen and (min-width:900px){.container-form{margin-left: 357px;}}