@media screen and (min-width:300px){
    .memoryPokemon-container{
        height: 100vh;
        width: 100vw;
        background-image: url('./images/giphy.gif');
        background-repeat: no-repeat;
        background-size: cover;
    }
}
@media screen and (min-width:1000px){
    
}