@media screen and (min-width:300px){
    .container-table{display: none;}
}
@media screen and (min-width:1000px){
    .container-table{
        height: 520px;
        display: block;
        margin-left: 48px;
        background-color: white;
        box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05), 0px 1px 7px rgba(63, 63, 68, 0.15);
    }
}